<%= form_for(@station) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>
      </div>
      <ul>
      <% @station.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"название" %>
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label :"район" %>
      <%= f.text_field :name %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
