<h1>Listing devices</h1>

<% if @devices.any? %>
    Другое оборудование
    <table class="table">
      <thead>
      <tr>
        <th>Модель</th>
        <th>Тип оборудования</th>
        <th>ID станции</th>
      </tr>
      </thead>
      <tbody>

      <% @devices.each do |d| %>
          <tr>
            <td><%= d.device_model %></td>
            <td> <%= d.device_type %> </td>
            <td> <%= d.station_id %> </td>
            <td> <%= link_to "просмотр", station_device_path(@station, d) %></td>
            <td><%= link_to "редактировать", edit_station_device_path(@station, d) %></td>
            <td><%= link_to "удалить", '#' %></td>
          </tr>
          </tbody>
      <% end %>
      </table>
<% end %>
