<h3>Create new division</h3>
<%= form_for(@division) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">

    </div>
    <div>
      <%= f.submit "Add" %>
    </div>
<% end %>