<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Practic</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>


<div class="container">

  <!--------------------------->

  <section class="round">
    <% flash.each do |key, value| %>
        <div class="flash <%= key %> ">
          <%= value %>
        </div>
    <% end %>

  </section>

  <!---------------------------------------------->
  <div class="center hero-unit">

    <%= yield %>

    <%= render 'layouts/footer' %>
  </div>
</div>
</body>
</header>


</html>
